.cta-section {
  background-color: rgb(255, 255, 255);

  width: 100%;
  height: 100vh;
}

.cta-container {
  background-color: rgba(158, 71, 0, 0.103);
  width: 100%;
  height: 100vh;
  display: flex;
}

.cta-left {
  /* background-color: red; */
  width: 45%;
  height: 100%;
  padding: 2.5rem 2rem;
}

.cta-img-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}
.cta-img-container:hover img {
  transform: scale(1.1);
}

.cta-img-container img {
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.cta-right {
  /* background-color: blue; */
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cta-right-top {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 3rem;
  justify-content: space-between;
  color: #000;
  border-bottom: 2px solid rgba(0, 0, 0, 0.258);
  padding-bottom: 1rem;
}

.cta-right-top-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cta-right-top h3 {
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1;
  color: #000000b0;
}

.cta-right-top span {
  color: #000;
}

.cta-right-top p {
  font-style: italic;
  opacity: 0.9;
}

.cta-button {
  background-color: #000000;
  align-self: flex-start;
  color: #fbf8f8;
  font-size: 1.2rem;
  font-weight: 500;
  display: inline-block;
  padding: 0.8rem 2rem;
  padding-right: 3.5rem;
  border-radius: 30px;
  position: relative;
  transition:
    background-color 0.2s ease-in-out,
    transform 0.1s ease-in-out;
  cursor: pointer;
}

.cta-button:hover {
  background-color: rgb(255, 255, 255);
  color: #000000;
  border: 2px solid #000000;
}

.cta-button:active {
  transform: scale(0.95);
}

.cta-button:hover .cta-button-arrow {
  animation: arrow-forward 0.4s ease-in-out;
}

.cta-button-arrow-container {
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  right: 0.4rem;
  top: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  padding: 4px;
  overflow: hidden;
}

@keyframes arrow-forward {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(30px);
    opacity: 0;
  }
  50% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.cta-bottom-text {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}

.cta-bottom-text p {
  font-size: 1.1rem;
  font-weight: 400;
  color: #000000af;
  opacity: 1;
  font-style: normal;
}

.cta-bottom-text a {
  color: rgb(255, 145, 0);
  font-weight: 700;
}

.cta-right-bottom {
  width: 100%;
  height: 30%;
  display: flex;
  gap: 10px;
  padding: 2rem 0;
  line-height: 1.7;
  padding-right: 1rem;
  justify-content: space-between;
}

.cta-testimonial {
  color: #000;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.testimonial-text {
  font-weight: 600;
}

.testimonial-writer {
  font-style: italic;
  opacity: 0.9;
}
