.layout-footer {
  background-color: #1c1c1c;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
}

.footer-top {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: space-between;
}

.footer-top-left {
  width: 35%;
  height: 100%;
}

.footer-top-left {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
}

.footer-top-left h4,
.footer-top-right h4 {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffffbd;
  margin-bottom: 20px;
}

.footer-content-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-content-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-content-right a {
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 20px;
  text-decoration: none;
}

.footer-top-right {
  width: 50%;
  height: 100%;
  display: flex;
  /* background-color: red; */
  flex-direction: column;
  padding: 2rem;
}

.footer-top-right p {
  font-style: italic;
  opacity: 0.9;
}

.footer-top-right h2 {
  font-size: 3.2rem;
  font-weight: 500;
  color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgba(181, 181, 181, 0.258);
}

.footer-social {
  display: flex;
  justify-content: space-between;
}

.footer-link a {
  color: #fff;
  margin-right: 10px;
  /* text-decoration: none; */
}

.footer-bottom {
  width: 100%;
  height: 55%;
  display: flex;
  padding: 2rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
  flex-direction: column;
  justify-content: space-between;
}

.footer-tagline {
  color: #fff;
  font-size: 8.1rem;
  font-weight: 600;
  text-align: center;
}

.footer-text {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
}

.footer-text a {
  color: #fff;
}
