* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery-section {
  background-color: rgb(140, 0, 0);
  position: relative;
  width: 99.9%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  z-index: 4;
  /* padding: 1.5rem; */
  position: relative;

  /* overflow: hidden; */
}

.gallery-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 3rem;
  overflow: hidden;
}

.gallery-image {
  position: relative;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  /* mix-blend-mode: lighten; */

  /* scale: 0.9; */
}

.img1 {
  /* opacity: 1; */
  transform: translateY(0);
}

.gallery-container-bottom {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 3rem;
  background-color: red;
  top: -4px;
  visibility: hidden;
}
.gallery-container-bottom .gallery-image {
  position: absolute;
}

.shape {
  /* display: none; */
}
