* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0a0a0a;
  cursor: default;
  /* cursor: none; */
}
.cursor.open {
  font-family: "Barlow Condensed", sans-serif;
  position: fixed;
  font-size: 16px;
  font-weight: 600;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: red;

  left: 0;
  top: 0;
  padding-bottom: 2px;

  border-radius: 50%;

  pointer-events: none;
  z-index: 999999;
  transition:
    width 0.2s ease,
    height 0.2s ease;

  transform: translate(-50%, -50%);
}
.cursor {
  position: fixed;
  width: 7px;
  height: 7px;
  background: red;

  left: 0;
  top: 0;

  border-radius: 50%;

  pointer-events: none;
  z-index: 999999;
  transition:
    width 0.2s ease,
    height 0.2s ease;

  transform: translate(-50%, -50%);
}

.wrapper {
  position: relative;
}

.container {
  position: relative;
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 9px;
}

#svg-stage {
  width: 60%;
  max-height: 60vh;
  max-width: 500px;
  overflow: visible;
}

#gradient {
  height: 0;
}

/* #diamond {
  fill: #fff;
} */
.home-icon-container {
  /* background-color: white; */
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 6;
}

.home-shape-icon {
  position: absolute;
  inset: 0;
  /* background-color: rgba(227, 6, 21, 0.463); */
}

#square {
  fill: #e30613;
  /* fill-opacity: 0.8; */
  opacity: 0.8;
  /* filter: brightness(200%); */
}

#rectangle-4,
#m-square-1,
#m-square-2,
#m-square-3,
#m-square-4,
#b-square-1,
#f-square-1,
#f-square-5,
#r-square,
#circle,
#circle-2,
#arch-top,
#arch-bottom,
#f-rectangle-1 {
  fill-opacity: 0.8;
  /* mix-blend-mode: multiply; */
}

/* M 250 100 L 250 150 L 200 150 L 200 150 L 200 100 L 250 100
M 250 150 L 250 200 L 200 200 L 200 200 L 200 150 L 250 150
M 300 150 L 300 200 L 250 200 L 250 200 L 250 150 L 300 150
M 300 100 L 300 150 L 250 150 L 250 150 L 250 100 L 300 100

M 350 200 L 350 250 L 300 250 L 300 250 L 300 200 L 350 200 M 350 250 L 350 300 L 300 300 L 300 300 L 300 250 L 350 250 M 400 250 L 400 300 L 350 300 L 350 300 L 350 250 L 400 250 M 400 200 L 400 250 L 350 250 L 350 250 L 350 200 L 400 200

M 500 200 L 500 250 L 450 250 L 450 250 L 450 200 L 500 200 
M 550 200 L 550 250 L 500 250 L 500 250 L 500 200 L 550 200
M 500 250 L 500 300 L 450 300 L 450 300 L 450 250 L 500 250 
M 550 250 L 550 300 L 500 300 L 500 300 L 500 250 L 550 250 

M 500 150 L 500 250 L 400 250 L 400 250 L 400 150 L 500 150 M 600 150 L 600 250 L 500 250 L 500 250 L 500 150 L 600 150 M 500 250 L 500 350 L 400 350 L 400 350 L 400 250 L 500 250 M 600 250 L 600 350 L 500 350 L 500 350 L 500 250 L 600 250

M 500 300 L 500 400 L 400 400 L 400 400 L 400 300 L 500 300 M 600 300 L 600 400 L 500 400 L 500 400 L 500 300 L 600 300 M 500 400 L 500 500 L 400 500 L 400 500 L 400 400 L 500 400 M 600 400 L 600 500 L 500 500 L 500 500 L 500 400 L 600 400

M 500 150 L 500 250 L 400 250 L 400 250 L 400 150 L 500 150 
M 600 150 L 600 250 L 500 250 L 500 250 L 500 150 L 600 150 
M 500 250 L 500 350 L 400 350 L 400 350 L 400 250 L 500 250 
M 600 250 L 600 350 L 500 350 L 500 350 L 500 250 L 600 250

M 300 50 L 300 150 L 200 150 L 200 150 L 200 50 L 300 50
M 800 50 L 800 150 L 700 150 L 700 150 L 700 50 L 800 50
M 300 350 L 300 450 L 200 450 L 200 450 L 200 350 L 300 350
M 800 350 L 800 450 L 700 450 L 700 450 L 700 350 L 800 350

M 300 -50 L 300 50 L 200 50 L 200 50 L 200 -50 L 300 -50
M 800 -50 L 800 50 L 700 50 L 700 50 L 700 -50 L 800 -50
M 300 450 L 300 550 L 200 550 L 200 550 L 200 450 L 300 450
M 800 450 L 800 550 L 700 550 L 700 550 L 700 450 L 800 450

M 400 100 L 400 200 L 300 200 L 300 200 L 300 100 L 400 100
M 600 100 L 600 200 L 500 200 L 500 200 L 500 100 L 600 100
M 400 300 L 400 400 L 300 400 L 300 400 L 300 300 L 400 300
M 600 300 L 600 400 L 500 400 L 500 400 L 500 300 L 600 300

M 675 150 L 675 300 L 525 300 L 525 300 L 525 150 L 675 150 M 975 150 L 975 300 L 825 300 L 825 300 L 825 150 L 975 150 M 675 450 L 675 600 L 525 600 L 525 600 L 525 450 L 675 450 M 975 450 L 975 600 L 825 600 L 825 600 L 825 450 L 975 450

            M433.175 274.7475H566.825C566.825 292.4706 559.7847 309.4678 547.2524 321.9999 534.7203 334.5322 517.7231 341.5725 500 341.5725 482.2769 341.5725 465.2797 334.5322 452.7476 321.9999 440.2154 309.4678 433.175 292.4706 433.175 274.7475ZM566.825 274.7475H433.175C433.175 257.0244 440.2154 240.0272 452.7476 227.4951 465.2797 214.9629 482.2769 207.9225 500 207.9225 517.7231 207.9225 534.7203 214.9629 547.2524 227.4951 559.7847 240.0272 566.825 257.0244 566.825 274.7475Z
M433.175 274.7475H566.825C566.825 292.4706 559.7847 309.4678 547.2524 321.9999 534.7203 334.5322 517.7231 341.5725 500 341.5725 482.2769 341.5725 465.2797 334.5322 452.7476 321.9999 440.2154 309.4678 433.175 292.4706 433.175 274.7475ZM566.825 274.7475H433.175C433.175 257.0244 440.2154 240.0272 452.7476 227.4951 465.2797 214.9629 482.2769 207.9225 500 207.9225 517.7231 207.9225 534.7203 214.9629 547.2524 227.4951 559.7847 240.0272 566.825 257.0244 566.825 274.7475Z
M566.825 274.7475H433.175C433.175 257.0244 440.2154 240.0272 452.7476 227.4951 465.2797 214.9629 482.2769 207.9225 500 207.9225 517.7231 207.9225 534.7203 214.9629 547.2524 227.4951 559.7847 240.0272 566.825 257.0244 566.825 274.7475Z
            M566.825 341.7475H433.175C433.175 324.0244 440.2154 307.0272 452.7476 294.4951 465.2797 281.9629 482.2769 274.9225 500 274.9225 517.7231 274.9225 534.7203 281.9629 547.2524 294.4951 559.7847 307.0272 566.825 324.0244 566.825 341.7475Z M566.825 274.7475H433.175C433.175 257.0244 440.2154 240.0272 452.7476 227.4951 465.2797 214.9629 482.2769 207.9225 500 207.9225 517.7231 207.9225 534.7203 214.9629 547.2524 227.4951 559.7847 240.0272 566.825 257.0244 566.825 274.7475Z
M566.825 341.5525H433.175C433.175 323.8294 440.2153 306.8322 452.7476 294.3001 465.2797 281.7678 482.2769 274.7275 500 274.7275 517.7231 274.7275 534.7203 281.7678 547.2524 294.3001 559.7846 306.8322 566.825 323.8294 566.825 341.5525Z M566.825 274.7475H433.175C433.175 257.0244 440.2154 240.0272 452.7476 227.4951 465.2797 214.9629 482.2769 207.9225 500 207.9225 517.7231 207.9225 534.7203 214.9629 547.2524 227.4951 559.7847 240.0272 566.825 257.0244 566.825 274.7475Z

M700.475 474.7425H299.525C299.525 421.5732 320.6462 370.5816 358.2428 332.9853 395.8391 295.3887 446.8307 274.2675 500 274.2675 553.1693 274.2675 604.1609 295.3887 641.7572 332.9853 679.3541 370.5816 700.475 421.5732 700.475 474.7425Z

M 2 0 C 2 0 3 1 2 2 C 1 3 0 2 0 2 C -1 1 0 0 0 0 C 1 -1 2 0 2 0


M 2 0 L 2 2 L 0 2 L 0 0 L 2 0

            M548 227 548 323 452 323 452 227


             M 548 227 L 548 275 L 452 275 L 452 227 L 548 227 
M 548 275 L 548 323 L 452 323 L 452 275 L 548 275 

M 548 475 L 548 523 L 452 523 L 452 475 L 500 450 M 548 227 L 548 275 L 452 275 L 452 227 L 500 202

M 596 650 L 596 746 L 404 746 L 404 650 L 500 600 M 596 154 L 596 250 L 404 250 L 404 154 L 500 104

M 596 179 L 596 275 L 404 275 L 404 179 L 500 129 M 596 650 L 596 746 L 404 746 L 404 650 L 500 600 


*/
