.service-section {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  padding: 1rem 2rem;
  flex-direction: column;
}

.service-top {
  display: flex;
  height: 25%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.258);
}

.service-top-left {
  width: 70%;
  align-self: center;
  /* background-color: blue; */
}

.service-top-left h3 {
  font-size: 2.1rem;
  font-weight: 600;
  line-height: 1;
  color: #000000b0;
}

.service-top-left span {
  color: #000;
}

.service-top-right {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
  /* align-items: flex-end; */
  /* background-color: red; */
  width: 30%;
  padding: 1rem 2rem;
}

.service-top-right h4 {
  color: rgb(255, 145, 0);
  font-weight: 800;
  font-size: 1.3rem;
}

.service-top-right p {
  font-style: italic;
  opacity: 0.9;
}

.service-bottom {
  height: 75%;
  display: flex;
  flex-direction: row;
}

.service-bottom-left {
  width: 55%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.service-detail {
  color: #000;
  padding: 2rem 0;
  display: flex;
  gap: 50px;
  /* background-color: red; */
  height: 80px;
  overflow: hidden;
  border-bottom: 2px solid rgba(0, 0, 0, 0.258);
}

.service-detail-content {
  display: flex;
  /* background-color: red; */
  flex-direction: column;
  gap: 50px;
}

.accordion {
  width: 100%;
  color: #000;
}

.accordion-item {
  /* border-top: 1px solid #ddd; */
  border-bottom: 2px solid rgba(0, 0, 0, 0.258);

  padding: 30px 0;
}

.accordion-header {
  display: grid;
  grid-template-columns: 80px 1fr 40px;
  align-items: center;
  cursor: pointer;
}

.accordion-header h2 {
  font-size: 2rem;
  font-weight: 500;
}

.accordion-content {
  margin-left: 80px;
  margin-top: 25px;
  width: 500px;
}

.icon {
  transition: 0.3s;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition:
    max-height 0s ease,
    opacity 0.3s ease,
    padding 0.4s ease;

  padding-top: 0;
}

.accordion-content.open {
  max-height: 300px;
  opacity: 1;
  padding-top: 20px;
}

.chevron {
  transition: transform 0.3s ease;
}

.chevron.open {
  transform: rotate(180deg);
}

.accordion-content p {
  margin-bottom: 1rem;
}
.accordion-content a {
  color: #000;
}

.service-bottom-right {
  /* background-color: red; */
  width: 45%;
  height: 100%;
  padding: 2rem;
}

.service-img-container {
  /* background-color: red; */
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.service-img-container:hover img {
  transform: scale(1.1);
}

.service-img-container img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
