.work-section {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.work-container {
  background-color: rgba(158, 71, 0, 0.187);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.work-top {
  color: #000;
  display: flex;
  height: 20%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.258);
}

.work-top p {
  width: 35%;
  padding-left: 2rem;
  padding-right: 8rem;
  font-style: italic;
  opacity: 0.9;
  padding-bottom: 2rem;

  align-self: flex-end;
}

.work-top h3 {
  width: 65%;
  padding: 0 2rem;
  padding-right: 1rem;
  font-size: 2.1rem;
  font-weight: 600;
  /* color: #565656; */
  align-self: center;
  line-height: 1;
  color: #000000b0;
}

.work-top span {
  color: #000;
}

.work-bottom {
  /* background-color: red; */
  height: 80%;
  display: flex;
  padding: 2rem 1rem 0;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.work-card {
  /* background-color: red; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: #000;
}

.work-card-background {
  position: relative;
  width: 100%;
  height: 85%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: flex-end;
}

.work-card-background:hover .work-card-image {
  transform: scale(1.1);
  opacity: 0.9;
}
/* 
.work-card-background.first {
  background-image: url("/layout/background/work-1.jpg");
  background-size: cover;
  background-position: center;
} */

.work-card-image {
  /* height: 100%; */
  width: 100%;
  position: absolute;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  /* border-radius: 10px; */
}

.work-card-date {
  background-color: rgb(255, 145, 0);
  align-self: flex-end;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  color: #fff;
  position: relative;

  margin: 1rem;
}

.work-card-caption {
  margin: 15px 0;
}

.work-card-caption h3 {
  font-weight: 500;
  font-size: 1.2rem;
}

.work-card-caption h3 {
  font-weight: 500;
  font-size: 1.1rem;
}
